
.grid {
  min-width: 400px;
  min-height: 400px;
  max-height: 400px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.square {
  float: left;
  background-color: aqua;
  padding: 5px;
}

.square:nth-child(odd) {
  background-color: aquamarine;
}
