h1 {
  font-family: Ubuntu;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 40px;
}


.grid {
  min-width: 400px;
  min-height: 400px;
  max-height: 400px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.square {
  float: left;
  background-color: aqua;
  border: 1px solid limegreen;
}

td > .square {
}

.square:nth-child(odd) {
  background-color: aquamarine;
}

.grid#3 > .square {
  display: inline-block;
}
